//! **************************************************************************
// Written by: Map P.68d on Thu Nov 20 21:33:54 2014
//! **************************************************************************

SCHEMATIC START;
COMP "processing_system7_0_DDR_DM<0>" LOCATE = SITE "B1" LEVEL 1;
COMP "processing_system7_0_DDR_DM<3>" LOCATE = SITE "AA2" LEVEL 1;
COMP "processing_system7_0_DDR_DM<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "processing_system7_0_DDR_DM<1>" LOCATE = SITE "H3" LEVEL 1;
COMP "processing_system7_0_MIO<6>" LOCATE = SITE "A4" LEVEL 1;
COMP "processing_system7_0_MIO<5>" LOCATE = SITE "A3" LEVEL 1;
COMP "processing_system7_0_MIO<8>" LOCATE = SITE "E5" LEVEL 1;
COMP "processing_system7_0_MIO<7>" LOCATE = SITE "D5" LEVEL 1;
COMP "processing_system7_0_MIO<9>" LOCATE = SITE "C4" LEVEL 1;
COMP "processing_system7_0_MIO<0>" LOCATE = SITE "G6" LEVEL 1;
COMP "processing_system7_0_MIO<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "processing_system7_0_MIO<1>" LOCATE = SITE "A1" LEVEL 1;
COMP "processing_system7_0_MIO<4>" LOCATE = SITE "E4" LEVEL 1;
COMP "processing_system7_0_MIO<3>" LOCATE = SITE "F6" LEVEL 1;
COMP "processing_system7_0_UART0_TX_pin" LOCATE = SITE "V7" LEVEL 1;
COMP "processing_system7_0_DDR_ODT" LOCATE = SITE "P5" LEVEL 1;
COMP "processing_system7_0_UART0_RX_pin" LOCATE = SITE "W10" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<0>" LOCATE = SITE "D2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<1>" LOCATE = SITE "J2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n<3>" LOCATE = SITE "W2" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<9>" LOCATE = SITE "H5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<8>" LOCATE = SITE "J5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<7>" LOCATE = SITE "J6" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<6>" LOCATE = SITE "J7" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<5>" LOCATE = SITE "K5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<4>" LOCATE = SITE "K6" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<2>" LOCATE = SITE "K4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<1>" LOCATE = SITE "M5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<0>" LOCATE = SITE "M4" LEVEL 1;
COMP "processing_system7_0_DDR_WEB_pin" LOCATE = SITE "R4" LEVEL 1;
COMP "axi_i2s_adi_0_SDATA_I_pin" LOCATE = SITE "E21" LEVEL 1;
COMP "CLKOUT12288" LOCATE = SITE "C22" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<0>" LOCATE = SITE "C2" LEVEL 1;
COMP "processing_system7_0_DDR_CAS_n" LOCATE = SITE "P3" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<3>" LOCATE = SITE "V2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<2>" LOCATE = SITE "N2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS<1>" LOCATE = SITE "H2" LEVEL 1;
COMP "processing_system7_0_DDR_RAS_n" LOCATE = SITE "R5" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr<1>" LOCATE = SITE "L6" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr<2>" LOCATE = SITE "M6" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr<0>" LOCATE = SITE "L7" LEVEL 1;
COMP "processing_system7_0_DDR_Clk" LOCATE = SITE "N4" LEVEL 1;
COMP "axi_i2s_adi_0_SDATA_O_pin" LOCATE = SITE "D21" LEVEL 1;
COMP "processing_system7_0_I2C1_SDA_pin" LOCATE = SITE "B16" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<0>" LOCATE = SITE "D1" LEVEL 1;
COMP "processing_system7_0_PS_PORB_pin" LOCATE = SITE "B5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<4>" LOCATE = SITE "E3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<3>" LOCATE = SITE "D3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<2>" LOCATE = SITE "B2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<1>" LOCATE = SITE "C3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<8>" LOCATE = SITE "G2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<7>" LOCATE = SITE "F1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<6>" LOCATE = SITE "F2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<5>" LOCATE = SITE "E1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<9>" LOCATE = SITE "G1" LEVEL 1;
COMP "processing_system7_0_MIO<50>" LOCATE = SITE "D13" LEVEL 1;
COMP "processing_system7_0_MIO<52>" LOCATE = SITE "D10" LEVEL 1;
COMP "processing_system7_0_MIO<51>" LOCATE = SITE "C10" LEVEL 1;
COMP "processing_system7_0_MIO<53>" LOCATE = SITE "C12" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<30>" LOCATE = SITE "W3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<31>" LOCATE = SITE "Y1" LEVEL 1;
COMP "processing_system7_0_DDR_VRN" LOCATE = SITE "M7" LEVEL 1;
COMP "processing_system7_0_DDR_VRP" LOCATE = SITE "N7" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<20>" LOCATE = SITE "R3" LEVEL 1;
COMP "processing_system7_0_DDR_Clk_n" LOCATE = SITE "N5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<24>" LOCATE = SITE "AA3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<23>" LOCATE = SITE "R1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<22>" LOCATE = SITE "M2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<21>" LOCATE = SITE "T2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<28>" LOCATE = SITE "W1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<27>" LOCATE = SITE "U2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<26>" LOCATE = SITE "AA1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<25>" LOCATE = SITE "U1" LEVEL 1;
COMP "processing_system7_0_PS_CLK_pin" LOCATE = SITE "F7" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<29>" LOCATE = SITE "Y3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<10>" LOCATE = SITE "L1" LEVEL 1;
COMP "processing_system7_0_DDR_CS_n" LOCATE = SITE "P6" LEVEL 1;
COMP "CLKIN200_P" LOCATE = SITE "D18" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<14>" LOCATE = SITE "J1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<13>" LOCATE = SITE "K1" LEVEL 1;
COMP "CLKIN200_N" LOCATE = SITE "C19" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<12>" LOCATE = SITE "L3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<11>" LOCATE = SITE "L2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<18>" LOCATE = SITE "N3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<17>" LOCATE = SITE "T3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<16>" LOCATE = SITE "M1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<15>" LOCATE = SITE "K3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ<19>" LOCATE = SITE "T1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<13>" LOCATE = SITE "F4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<14>" LOCATE = SITE "G4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "processing_system7_0_DDR_CKE" LOCATE = SITE "V3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<12>" LOCATE = SITE "H4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr<10>" LOCATE = SITE "J3" LEVEL 1;
COMP "axi_i2s_adi_0_LRCLK_O_pin" LOCATE = SITE "A17" LEVEL 1;
COMP "processing_system7_0_PS_SRSTB_pin" LOCATE = SITE "C9" LEVEL 1;
COMP "processing_system7_0_MIO<26>" LOCATE = SITE "A13" LEVEL 1;
COMP "processing_system7_0_MIO<25>" LOCATE = SITE "F12" LEVEL 1;
COMP "processing_system7_0_MIO<28>" LOCATE = SITE "A12" LEVEL 1;
COMP "processing_system7_0_MIO<27>" LOCATE = SITE "D7" LEVEL 1;
COMP "processing_system7_0_MIO<29>" LOCATE = SITE "E8" LEVEL 1;
COMP "processing_system7_0_MIO<20>" LOCATE = SITE "A8" LEVEL 1;
COMP "processing_system7_0_MIO<22>" LOCATE = SITE "A14" LEVEL 1;
COMP "processing_system7_0_MIO<21>" LOCATE = SITE "F11" LEVEL 1;
COMP "processing_system7_0_MIO<24>" LOCATE = SITE "B7" LEVEL 1;
COMP "processing_system7_0_MIO<23>" LOCATE = SITE "E11" LEVEL 1;
COMP "processing_system7_0_MIO<16>" LOCATE = SITE "D6" LEVEL 1;
COMP "processing_system7_0_MIO<15>" LOCATE = SITE "E6" LEVEL 1;
COMP "processing_system7_0_MIO<18>" LOCATE = SITE "A7" LEVEL 1;
COMP "processing_system7_0_MIO<17>" LOCATE = SITE "E9" LEVEL 1;
COMP "processing_system7_0_MIO<19>" LOCATE = SITE "E10" LEVEL 1;
COMP "processing_system7_0_MIO<10>" LOCATE = SITE "G7" LEVEL 1;
COMP "processing_system7_0_MIO<12>" LOCATE = SITE "C5" LEVEL 1;
COMP "processing_system7_0_MIO<11>" LOCATE = SITE "B4" LEVEL 1;
COMP "processing_system7_0_MIO<14>" LOCATE = SITE "B6" LEVEL 1;
COMP "processing_system7_0_MIO<13>" LOCATE = SITE "A6" LEVEL 1;
COMP "processing_system7_0_DDR_DRSTB" LOCATE = SITE "F3" LEVEL 1;
COMP "processing_system7_0_MIO<46>" LOCATE = SITE "D12" LEVEL 1;
COMP "processing_system7_0_MIO<45>" LOCATE = SITE "B9" LEVEL 1;
COMP "processing_system7_0_MIO<48>" LOCATE = SITE "D11" LEVEL 1;
COMP "processing_system7_0_MIO<47>" LOCATE = SITE "B10" LEVEL 1;
COMP "processing_system7_0_MIO<49>" LOCATE = SITE "C14" LEVEL 1;
COMP "processing_system7_0_MIO<40>" LOCATE = SITE "E14" LEVEL 1;
COMP "processing_system7_0_MIO<42>" LOCATE = SITE "D8" LEVEL 1;
COMP "processing_system7_0_MIO<41>" LOCATE = SITE "C8" LEVEL 1;
COMP "processing_system7_0_MIO<44>" LOCATE = SITE "E13" LEVEL 1;
COMP "processing_system7_0_MIO<43>" LOCATE = SITE "B11" LEVEL 1;
COMP "processing_system7_0_MIO<36>" LOCATE = SITE "A9" LEVEL 1;
COMP "processing_system7_0_MIO<35>" LOCATE = SITE "F14" LEVEL 1;
COMP "processing_system7_0_MIO<38>" LOCATE = SITE "F13" LEVEL 1;
COMP "processing_system7_0_MIO<37>" LOCATE = SITE "B14" LEVEL 1;
COMP "processing_system7_0_MIO<39>" LOCATE = SITE "C13" LEVEL 1;
COMP "processing_system7_0_MIO<30>" LOCATE = SITE "A11" LEVEL 1;
COMP "processing_system7_0_MIO<32>" LOCATE = SITE "C7" LEVEL 1;
COMP "processing_system7_0_MIO<31>" LOCATE = SITE "F9" LEVEL 1;
COMP "processing_system7_0_MIO<34>" LOCATE = SITE "B12" LEVEL 1;
COMP "processing_system7_0_MIO<33>" LOCATE = SITE "G13" LEVEL 1;
COMP "axi_i2s_adi_0_BCLK_O_pin" LOCATE = SITE "A16" LEVEL 1;
COMP "processing_system7_0_I2C1_SCL_pin" LOCATE = SITE "B17" LEVEL 1;
TIMEGRP CLK12288_clkout1 = BEL "CLK12288/clkout2_buf" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_4" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_3" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/LRCLK_O_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/BCLK_O_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/SDATA_O_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tick" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/wr_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/wr_addr_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/tick"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/rd_addr_1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/rd_addr_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_4"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_3"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_2"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/tick_d1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/tick_d2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMD";
TIMEGRP CLK12288_clkout1_0 = BEL "CLK12288/clkout2_buf" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_4" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_3" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_sync_fifo_in_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/LRCLK_O_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/BCLK_O_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/SDATA_O_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tick" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/wr_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/wr_addr_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/tick"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/rd_addr_1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/rd_addr_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_4"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_3"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_2"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/out_data_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/tick_d1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/tick_d2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/Mram_fifo_RAMD";
PIN CLK12288/mmcm_adv_inst_pins<2> = BEL "CLK12288/mmcm_adv_inst" PINNAME
        CLKIN1;
TIMEGRP CLKIN200_P = PIN "CLK12288/mmcm_adv_inst_pins<2>";
TIMEGRP CLKIN200_N = PIN "CLK12288/mmcm_adv_inst_pins<2>";
PIN PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<83> = BEL
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i" PINNAME
        DMA1ACLK;
PIN PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<94> = BEL
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i" PINNAME
        DMA2ACLK;
PIN PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<372> =
        BEL "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i"
        PINNAME MAXIGP0ACLK;
TIMEGRP clk_fpga_0 = BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_7" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_6" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_5" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_4" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_3" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/cnt_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/state_FSM_FFd1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/state_FSM_FFd2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/wr_addr_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/wr_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/wr_addr_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/rd_addr_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/rd_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/rd_addr_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/wr_addr_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/wr_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/wr_addr_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/rd_addr_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/rd_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/rd_addr_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/state_FSM_FFd1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/state_FSM_FFd2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/fifo.free_cnt_3"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/fifo.free_cnt_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/fifo.free_cnt_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/fifo.free_cnt_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/full"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/empty"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/full"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/fifo.free_cnt_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/fifo.free_cnt_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/fifo.free_cnt_2"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_RESET_REG_2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_RESET_REG_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_15" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_14" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_13" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_12" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_11" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_10" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_9" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_8" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_7" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_6" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_5" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_4" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_3" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/PERIOD_LEN_REG_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_23" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_22" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_21" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_20" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_19" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_18" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_17" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_16" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_7" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_6" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_5" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_4" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_3" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CLK_CONTROL_REG_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CONTROL_REG_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/I2S_CONTROL_REG_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tick_d2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tick_d1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_31"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_30"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_29"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_28"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_27"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_26"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_25"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_24"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_23"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_22"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_21"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_20"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_19"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_18"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_17"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_16"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_15"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_14"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_13"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_12"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_11"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_10"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_9"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/data_int_0_8"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/bclk_d1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/channel_sync_int_d1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_7"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_6"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_5"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_4"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_3"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_count_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/lrclk_int"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_int" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/rd_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/rd_addr_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/out_data_4"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/out_data_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/out_data_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/out_data_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx_sync/tick_d1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/wr_addr_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/ovf_frame_cnt_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_23"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_22"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_21"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_20"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_19"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_18"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_17"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_16"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_15"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_14"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_13"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_12"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_11"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_10"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_9"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_8"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_7"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_6"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_5"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_4"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_3"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_latched_0_0"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_31"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_30"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_29"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_28"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_27"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_26"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_25"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_24"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_23"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_22"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_21"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_20"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_19"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_18"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_17"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_16"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_15"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_14"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_13"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_12"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_11"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_10"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_9"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_8"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_7"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_6"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_5"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_4"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_3"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_2"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/data_int_0_0"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/bclk_d1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrlif/wr_state_FSM_FFd1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrlif/wr_state_FSM_FFd2"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrlif/rd_state_FSM_FFd1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrlif/rd_addr_3" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrlif/rd_addr_2" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrlif/rd_addr_1" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrlif/rd_addr_0" BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_gen.tx/enable_int"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/enable_int"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/rx_gen.rx/sequencer_state"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_7"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_6"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_5"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_4"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_3"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_2"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_1"
        BEL "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/clkgen/bclk_count_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_pipe_2"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_pipe_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_pipe_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_2"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/areset_d_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/mi_converter_bank/gen_conv_slot[0].clock_conv_inst/m_axi_reset_out_n_i"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_enc_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_hot_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_hot_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/s_awvalid_reg_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/s_arvalid_reg_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_53"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_52"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_47"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_46"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_45"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_44"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_43"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_42"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_41"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_40"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_39"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_38"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_37"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_36"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_35"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_34"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_33"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_32"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_31"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_30"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_29"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_28"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_17"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_16"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_15"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_14"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_11"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_10"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_9"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_8"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_7"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_6"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_5"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_4"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_3"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_2"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_amesg_i_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_3"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_2"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cnt_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/write_cs_FSM_FFd1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/write_cs_FSM_FFd2"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/write_active"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/read_active"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/mi_protocol_conv_bank/gen_protocol_slot[0].gen_prot_conv.conv_inst/gen_axilite.gen_axilite_conv.axilite_conv_inst/busy"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_grant_hot_i_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/m_valid_i"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/s_axi_rlast_i"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/s_axi_arready_i"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/read_cs_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.gen_decerr.decerr_slave_inst/s_axi_awready_i"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/mi_register_slice_bank/gen_reg_slot[0].register_slice_inst/reset"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/reset"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/s_ready_i_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/grant_rnw"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_aw/m_ready_d_2"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_aw/m_ready_d_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_aw/m_ready_d_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_ar/m_ready_d_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.splitter_ar/m_ready_d_0"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/m_atarget_enc_0_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/crossbar_samd/gen_sasd.crossbar_sasd_0/gen_crossbar.addr_arbiter_inst/grant_rnw_1"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<83>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<94>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<372>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<83>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<94>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<372>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<83>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<94>"
        PIN
        "PS_top/PS_i/processing_system7_0/processing_system7_0/PS7_i_pins<372>"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/Mram_fifo_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/Mram_fifo_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/Mram_fifo_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/Mram_fifo_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/Mram_fifo_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/Mram_fifo_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/ctrl/tx_sync/Mram_fifo_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo1_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo2_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo3_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_rx_gen.rx_fifo/fifo/Mram_data_fifo4_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo1_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo2_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo3_RAMD"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMA_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMA"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMB_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMB"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMC_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMC"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMD_D1"
        BEL
        "PS_top/PS_i/axi_i2s_adi_0/axi_i2s_adi_0/pl330_dma_tx_gen.tx_fifo/fifo/Mram_data_fifo4_RAMD";
TIMEGRP axi_interconnect_1_reset_resync = BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_2"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_1"
        BEL
        "PS_top/PS_i/axi_interconnect_1/axi_interconnect_1/si_converter_bank/gen_conv_slot[0].clock_conv_inst/interconnect_aresetn_resync_0";
TIMEGRP axi_interconnect_1_reset_source = FFS(*) PADS(*);
PATH TS_axi_interconnect_1_reset_resync_path = FROM TIMEGRP
        "axi_interconnect_1_reset_source" TO TIMEGRP
        "axi_interconnect_1_reset_resync";
PATH "TS_axi_interconnect_1_reset_resync_path" TIG;
TS_clk_fpga_0 = PERIOD TIMEGRP "clk_fpga_0" 100 MHz HIGH 50%;
TS_CLKIN200_P = PERIOD TIMEGRP "CLKIN200_P" 5 ns HIGH 50%;
TS_CLKIN200_N = PERIOD TIMEGRP "CLKIN200_N" 5 ns HIGH 50%;
TS_CLK12288_clkout1 = PERIOD TIMEGRP "CLK12288_clkout1" TS_CLKIN200_P /
        0.061444886 HIGH 50%;
TS_CLK12288_clkout1_0 = PERIOD TIMEGRP "CLK12288_clkout1_0" TS_CLKIN200_N /
        0.061444886 HIGH 50%;
SCHEMATIC END;

