#
# pin constraints
#
#
# additional constraints
#

NET processing_system7_0_UART0_TX_pin LOC = "V7"  |  IOSTANDARD = "LVCMOS25"; # PMOD2_0_LS
NET processing_system7_0_UART0_RX_pin LOC = "W10" |  IOSTANDARD = "LVCMOS25"; # PMOD2_1_LS

#FMC1-XM105-J16
NET processing_system7_0_I2C1_SCL_pin LOC = "B17"  |  IOSTANDARD = "LVCMOS25"; # FMC1_LPC_LA29_N
NET processing_system7_0_I2C1_SDA_pin LOC = "B16"  |  IOSTANDARD = "LVCMOS25"; # FMC1_LPC_LA29_P

NET axi_i2s_adi_0_LRCLK_O_pin LOC = "A17"  |  IOSTANDARD = "LVCMOS25"; 	# FMC1_LPC_LA31_N
NET axi_i2s_adi_0_BCLK_O_pin 	LOC = "A16"  |  IOSTANDARD = "LVCMOS25"; 	# FMC1_LPC_LA31_P
NET axi_i2s_adi_0_SDATA_O_pin LOC = "D21"  |  IOSTANDARD = "LVCMOS25"; 	# FMC1_LPC_LA30_N 
NET axi_i2s_adi_0_SDATA_I_pin LOC = "E21"  |  IOSTANDARD = "LVCMOS25"; 	# FMC1_LPC_LA30_P 

NET CLKOUT12288 LOC = "C22"  |  IOSTANDARD = "LVCMOS25"; 	# FMC1_LPC_LA28_N

# SYS CLK
NET "CLKIN200_P" TNM_NET = "CLKIN200_P";
TIMESPEC "TS_CLKIN200_P" = PERIOD "CLKIN200_P" 5 ns HIGH 50%;
NET "CLKIN200_N" TNM_NET = "CLKIN200_N";
TIMESPEC "TS_CLKIN200_N" = PERIOD "CLKIN200_N" 5 ns HIGH 50%;
NET CLKIN200_P LOC = "D18"  |  IOSTANDARD = "LVDS_25"; 	# System CLK 200MHz
NET CLKIN200_N LOC = "C19"  |  IOSTANDARD = "LVDS_25"; 	# System CLK 200MHz
